/*! corelib-js 15-11-2013 */
.list {
  height: 100%;
  min-width: 160px;
  padding: 3px 0;
  margin: 2px 0 0;
  overflow-y: auto;
  font-size: 14px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.list > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.list > li > a:hover,
.list > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.list > .active > a,
.list > .active > a:hover,
.list > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}

.menu {
  min-width: 160px;
  padding: 3px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.menu > li > a:hover,
.menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.menu > .active > a,
.menu > .active > a:hover,
.menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}

.combobox {
  position: relative;
}

.combobox .popup {
  width: 100%;
  height: auto;
}

.numericstepper input {
  float: left;
  width: 60px;
}

.numericstepper .btn {
  position: relative;
  width: 20px;
  height: 14px;
  padding: 0;
}

.numericstepper .btn.disabled {
  cursor: not-allowed;
}

.numericstepper .numericstepper-buttons {
  position: relative;
  left: -22px;
  float: left;
  width: 20px;
  height: 28px;
}

.numericstepper .numericstepper-buttons > .btn:first-child {
  top: 1px;
}

.numericstepper .numericstepper-buttons > .btn:first-child i {
  top: -2px;
}

.numericstepper .numericstepper-buttons > .btn:last-child i {
  top: 0;
}

/*!
 * Datepicker for Bootstrap
 *
 */

.datepicker {
  padding: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.datepicker table {
  margin: 0;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

.datepicker td,
.datepicker th {
  width: 20px;
  height: 20px;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.datepicker table tr td.day:hover {
  cursor: pointer;
  background: #eeeeee;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  color: #999999;
  cursor: default;
  background: none;
}

.datepicker table tr td.selected,
.datepicker table tr td.selected:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #808080;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #425eca;
}

.datepicker th.datepicker-switch {
  width: 145px;
}

.datepicker thead tr:first-child th {
  cursor: pointer;
}

.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.datagrid-header > table {
  margin-bottom: 0;
}

.datagrid-header > table > thead {
  background-color: #f5f5f5;
  border-bottom: 0;
}

.datagrid-body {
  overflow-y: auto;
  border: 1px solid #dddddd;
  border-top: 0;
}

.datagrid-body > table {
  margin-bottom: 0;
}

/* collapsible tree */

.tree {
  height: 100%;
  min-width: 160px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0;
  margin: 2px 0 0;
  overflow-y: auto;
  font-size: 14px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.tree > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.tree > li > a:hover,
.tree > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.tree > .active > a,
.tree > .active > a:hover,
.tree > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}

.tree ul {
  padding-left: 0;
  list-style: none;
}

.tree ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.tree ul > li > a:hover,
.tree ul > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.tree ul > .active > a,
.tree ul > .active > a:hover,
.tree ul > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}

.tree-indentation {
  width: 14px;
}

.children-list {
  display: none;
}

.open > .children-list {
  display: block;
}

.popup {
  position: absolute;
  z-index: 1000;
  display: none;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.open > .popup {
  display: block;
}

.modal {
  position: fixed;
  z-index: 1040;
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  padding: 10px 16px;
  color: #333333;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.428571429;
}

.modal-body {
  position: relative;
  max-height: 300px;
  padding: 10px 16px;
}

.modal-footer {
  padding: 10px 16px;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}