/*! corelib-js 22-10-2013 */
.list {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.list > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.list > li > a:hover,
.list > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.list > .active > a,
.list > .active > a:hover,
.list > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}

/*!
 * Datepicker for Bootstrap
 *
 */

.datepicker-dropdown {
  padding: 4px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.datepicker-dropdown table {
  margin: 0;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

.datepicker-dropdown td,
.datepicker-dropdown th {
  width: 20px;
  height: 20px;
  text-align: center;
  border: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.datepicker-dropdown table tr td.day:hover {
  cursor: pointer;
  background: #eeeeee;
}

.datepicker-dropdown table tr td.disabled,
.datepicker-dropdown table tr td.disabled:hover {
  color: #999999;
  cursor: default;
  background: none;
}

.datepicker-dropdown table tr td.selected,
.datepicker-dropdown table tr td.selected:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #808080;
}

.datepicker-dropdown table tr td.active,
.datepicker-dropdown table tr td.active:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #425eca;
}

.datepicker-dropdown th.datepicker-switch {
  width: 145px;
}

.datepicker-dropdown thead tr:first-child th {
  cursor: pointer;
}

.datepicker-dropdown thead tr:first-child th:hover {
  background: #eeeeee;
}

.datagrid-header {
  margin-bottom: 0;
}

.datagrid-header > thead {
  background-color: #f5f5f5;
  border-bottom: 0;
}

.datagrid-body {
  overflow: auto;
  border: 1px solid #dddddd;
  border-top: 0;
}

.datagrid-body > table {
  margin-bottom: 0;
}

/* collapsible tree */

.tree {
  max-height: 300px;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 10px;
  overflow-y: auto;
  background-color: #fbfbfb;
  border: 1px solid #999999;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.tree a {
  display: inline;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tree li {
  position: relative;
  padding: 4px 0 0px 2px;
  margin: 0 0;
  list-style-type: none;
}

.tree li span {
  display: inline-block;
  padding: 2px 4px;
  line-height: 14px;
  text-decoration: none;
  -webkit-transition: color 0.2s ease 0.1s, background-color 0.2s ease 0.1s, border-color 0.3s ease 0.2s;
          transition: color 0.2s ease 0.1s, background-color 0.2s ease 0.1s, border-color 0.3s ease 0.2s;
}

.tree li.parent_li > span {
  cursor: pointer;
  /*Time for some hover effects
      &:hover {
        background-color: darken(@orange, 5%);
        border: 1px solid darken(@orange, 10%);
        color: #fff;
      }
      &:hover+ul li {
        &::after { border-top-color: @orange; }
        &::before { border-left-color: @orange; }
      }
      &:hover+ul li span {
        background: lighten(@orange, 35%);
        border: 1px solid lighten(@orange, 10%);
        color: #000;
      }*/

}

.tree li:last-child::before {
  height: 30px;
}

.tree > ul > li::before,
.tree > ul > li::after {
  border: 0;
}