.datagrid {
}

.datagrid-header {
  > table {
    margin-bottom: 0;

    > thead {
      background-color: @table-bg-hover;
      border-bottom: 0;
    }
  }
}

.datagrid-body {
  border: 1px solid @table-border-color;
  border-top: 0;
  overflow-y: auto;

  > table {
    margin-bottom: 0;
  }
}