.numericstepper {

  input {
    width: 60px;
    float: left;
  }

  .btn {
    position: relative;
    width: 20px;
    height: 14px;
    padding: 0;

    &.disabled {
      cursor: not-allowed;
    }
  }

  .numericstepper-buttons {
    position: relative;
    float: left;
    height: 28px;
    width: 20px;
    left: -22px;

    >.btn:first-child {
      top: 1px;

      i{
        top: -2px;
      }
    }

    >.btn:last-child {
      i {
        top: 0;
      }
    }
  }
}