/* collapsible tree */
.tree {
  min-width: 160px;
  height: 100%;
  padding-left: 0px;
  padding-top: @padding-base-vertical;
  padding-bottom: @padding-base-vertical;
  margin: 2px 0 0;
  overflow-y: auto;
  list-style: none;
  font-size: @font-size-base;
  background-color: @dropdown-bg;
  border: 1px solid @dropdown-fallback-border; // IE8 fallback
  border: 1px solid @dropdown-border;
  border-radius: @border-radius-base;
  .list-item();

  ul {
    padding-left: 0px;
    list-style: none;
    .list-item();
  }
}

.tree-indentation {
  width: 14px;
}

.children-list {
  display: none;
}

.open {
  > .children-list {
    display: block;
  }
}